

.mainpagelogin {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.mainpagelogin .projects2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : 820px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .background {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 820px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .recentproducts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 67px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 546px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 44.0px;
  color               : rgba(74, 74, 74, 1.0);
  text-align          : left;
  letter-spacing      : -1.6px;
  line-height         : 48.0px;
}
.mainpagelogin .projects2 .havinguseddiscount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : auto;
  width               : 878px;
  position            : absolute;
  margin              : 0;
  left                : 282px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.mainpagelogin .projects2 .thumb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : 270px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 147px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .thumb1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : 270px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 1025px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .thumb2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : 270px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .thumb3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 268px;
  height              : 294px;
  width               : 294px;
  position            : absolute;
  margin              : 0;
  left                : 429px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .lulu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 567px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 187px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.mainpagelogin .projects2 .marketing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 617px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.mainpagelogin .projects2 .marketingcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 592px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.mainpagelogin .projects2 .marketingcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 592px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 445px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.mainpagelogin .projects2 .marketingcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 592px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.mainpagelogin .projects2 .marketingcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 592px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 1029px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.mainpagelogin .projects2 .lulu1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 567px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 1065px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.mainpagelogin .projects2 .marketing1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 617px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 1029px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.mainpagelogin .projects2 .lulu2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 567px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 775px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.mainpagelogin .projects2 .marketing2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 617px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.mainpagelogin .projects2 .lulu3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 567px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 481px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.mainpagelogin .projects2 .marketing3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 617px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 445px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.mainpagelogin .projects2 .view {
  background-color    : rgba(255,255,255,0.0);
  top                 : 396px;
  height              : 22px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 556px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .projectviews {
  background-color    : rgba(255,255,255,0.0);
  top                 : 475px;
  height              : 48px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 541px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .projectviews .marketingcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.mainpagelogin .projects2 .projectviews .views {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 11px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .purchasebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 697px;
  height              : 48px;
  width               : 198px;
  position            : absolute;
  margin              : 0;
  left                : 477px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .purchasebutton .purchasebutton1 {
  background-color    : rgba(235, 202, 127, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 198px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .purchasebutton .review {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 18.0px;
}
.mainpagelogin .projects2 .getstartedbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 697px;
  height              : 48px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 770px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .getstartedbutton .getstartedbutton3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(75, 75, 75, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .getstartedbutton .getstarted {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 18.0px;
}
.mainpagelogin .projects2 .getstartedbutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 696px;
  height              : 48px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 182px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .getstartedbutton1 .getstartedbutton3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(75, 75, 75, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .getstartedbutton1 .getstarted {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 18.0px;
}
.mainpagelogin .projects2 .getstartedbutton2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 696px;
  height              : 48px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 1060px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .getstartedbutton2 .getstartedbutton3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(75, 75, 75, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .projects2 .getstartedbutton2 .getstarted {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 18.0px;
}
.mainpagelogin .footer5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 891px;
  height              : 133px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 133px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .social {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : 25px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.mainpagelogin .footer5 .social .twitter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .social .twitter .twitter1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .social .facebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .social .facebook .facebook1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .social .pinterest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .social .pinterest .fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .a4081maximillianrue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.mainpagelogin .footer5 .infohofmannuinet {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.mainpagelogin .footer5 .a1231273900 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.mainpagelogin .footer5 .subscribeform {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 48px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 931px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .subscribeform .subscribebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 210px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .subscribeform .subscribebutton .subscribebutton1 {
  background-color    : rgba(235, 202, 127, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .subscribeform .subscribebutton .subscribe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : 124px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 18.0px;
}
.mainpagelogin .footer5 .subscribeform .emailform {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .footer5 .subscribeform .enteremail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 177px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.mainpagelogin .navbar3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 84px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .navbar3copy .navbg {
  background-color    : rgba(75, 75, 75, 1.0);
  top                 : 0px;
  height              : 84px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .navbar3copy .navbgcopy {
  background-color    : rgba(75, 75, 75, 1.0);
  top                 : 0px;
  height              : 84px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .navbar3copy .services {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 907px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 24.0px;
}
.mainpagelogin .navbar3copy .hotels {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1035px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 24.0px;
}
.mainpagelogin .navbar3copy .hotels .span1 {
  
}
.mainpagelogin .navbar3copy .hotels .span2 {
  
}
.mainpagelogin .navbar3copy .hotelscopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1129px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 24.0px;
}
.mainpagelogin .navbar3copy .iconmenu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1293px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .navbar3copy .iconmenu .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .navbar3copy .iconmenu .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 17px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .navbar3copy .hofmann {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 87px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(235, 202, 127, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 43.0px;
}
.mainpagelogin .navbar3copy .iconuser {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 1246px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .navbar3copy .iconuser .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .navbar3copy .iconuser .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mainpagelogin .navbar3copy .iconuser .fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 14px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}