

.registrationpage {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.registrationpage .nilsnedelonpgbpns3csunsplash {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1031px;
  width               : 1543px;
  position            : absolute;
  margin              : 0;
  left                : 142px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1024px;
  width               : 633px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .buttondefaultprimary {
  background-color    : rgba(255,255,255,0.0);
  top                 : 800px;
  height              : 64px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .buttondefaultprimary .loginfacebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 329px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .buttondefaultprimary .loginfacebook .rectangle {
  background-color    : rgba(45, 183, 255, 1.0);
  top                 : 0px;
  height              : 64px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .buttondefaultprimary .loginfacebook .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 27px;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .buttondefaultprimary .loginfacebook .group .masuk {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 292px;
  position            : absolute;
  margin              : 0;
  left                : -0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(249, 250, 252, 1.0);
  text-align          : center;
  letter-spacing      : 0.6px;
  line-height         : 17.0px;
}
.registrationpage .inputdefault {
  background-color    : rgba(255,255,255,0.0);
  top                 : 711px;
  height              : 63px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefault .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefault .email .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(242, 242, 242, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefault .email .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 25px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefault .email .group .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 205px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  letter-spacing      : 0.6px;
  line-height         : 16.0px;
}
.registrationpage .inputdefault .removeredeyematerial {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 278px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.registrationpage .inputdefaultcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 565px;
  height              : 63px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy2 .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy2 .email .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(242, 242, 242, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy2 .email .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 25px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy2 .email .group .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 205px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  letter-spacing      : 0.6px;
  line-height         : 16.0px;
}
.registrationpage .inputdefaultcopy2 .removeredeyematerial {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 278px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.registrationpage .inputdefaultcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 419px;
  height              : 63px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 325px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy4 .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy4 .email .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(242, 242, 242, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy4 .email .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 25px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy4 .email .group .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  letter-spacing      : 0.6px;
  line-height         : 16.0px;
}
.registrationpage .inputdefaultcopy4 .removeredeyematerial {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 131px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.registrationpage .inputdefaultcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 419px;
  height              : 63px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy5 .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy5 .email .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(242, 242, 242, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy5 .email .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 25px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy5 .email .group .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  letter-spacing      : 0.6px;
  line-height         : 16.0px;
}
.registrationpage .inputdefaultcopy5 .removeredeyematerial {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 131px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.registrationpage .inputdefaultcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 492px;
  height              : 63px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy3 .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy3 .email .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(242, 242, 242, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy3 .email .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 25px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy3 .email .group .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 205px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  letter-spacing      : 0.6px;
  line-height         : 16.0px;
}
.registrationpage .inputdefaultcopy3 .removeredeyematerial {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 278px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.registrationpage .inputdefaultcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 638px;
  height              : 63px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy .email .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(242, 242, 242, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy .email .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 25px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .inputdefaultcopy .email .group .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : 205px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  letter-spacing      : 0.6px;
  line-height         : 16.0px;
}
.registrationpage .inputdefaultcopy .removeredeyematerial {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 278px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(166, 177, 194, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.registrationpage .copysubtitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 368px;
  height              : 16px;
  width               : 178px;
  position            : absolute;
  margin              : 0;
  left                : 227px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .copysubtitle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 178px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.registrationpage .copysubtitle .copywritingmadesim {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(100, 109, 130, 1.0);
  text-align          : center;
  letter-spacing      : 0.6px;
  line-height         : 16.0px;
}
.registrationpage .copysubtitle .copywritingmadesim .span1 {
  
}
.registrationpage .copysubtitle .copywritingmadesim .span2 {
  
}
.registrationpage .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : 238px;
  width               : 435px;
  position            : absolute;
  margin              : 0;
  left                : 118px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}